# Секреты и локальные настройки
.env

# Виртуальные окружения
.venv/
venv/

# Служебные файлы Python
__pycache__/
*.py[cod]

# Локальные данные и журналы
*.db
*.sqlite3
*.log

# IDE и ОС
.idea/
.vscode/
.DS_Store
Thumbs.db
